.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
}

.logo-container {
    margin: 0 15px;
}
.nav-container > ul {
    display: flex;
    padding: 20px;
    gap: 20px;
    list-style: none;
}

.Search {
    padding: 20px;
}

.restaurant-card {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display:inline-block;

    &:hover{
         border: 1px solid gray;
         cursor: pointer;
         
    }
}